VITE_FIREBASE_API_KEY=AIzaSyDqsC3mKAnFrP9jBk34iXosysVzy0sn0P4
VITE_FIREBASE_AUTH_DOMAIN=sankalp-hackathon.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sankalp-hackathon
VITE_FIREBASE_STORAGE_BUCKET=sankalp-hackathon.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=379101883575
VITE_FIREBASE_APP_ID=1:379101883575:web:c4f7fe2e0a46835c5df132
VITE_FIREBASE_MEASUREMENT_ID=G-3ND4M3QWJ4
